@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;  
}

.name-sec 
{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 20px;
    margin-top: 50px;
}

.a_card
{
    font-family: 'Roboto', sans-serif;
    background: #2b2b2b;
    height: 160px;
    border-radius: 5px;
    color: white;
    letter-spacing: 0.3px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    padding-bottom: 25px;
    padding-left: 25px;
    font-weight: 700;
}

.b_card_category
{
    margin-top: 25px;
    -webkit-box-shadow: 3px 5px 10px 3px rgba(0,0,0,0.27);
    box-shadow: 0px 5px 12px 3px rgba(0, 0, 0, 0.1);
}

.b_card
{
    
    font-family: 'Roboto', sans-serif;
    background: #2b2b2b;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
    color: white;
    letter-spacing: 0.3px;
    cursor: pointer;
    position: relative;
    font-weight: 700;
}

.main_b_card
{
    transition: .5s;
}

.main_b_card:hover
{
    transform: scale(1.1);
}


.main_b_card:hover .b_card
{
    background-size: 150%;
}

.b_card:after {
    content: '';
    background: #00000061;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 5px 5px 0px 0px;
}

.b_card_bottom
{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
    z-index: 1;
}

.b_map-controller
{
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.b_card_top
{
    top: 10px;
    left: 10px;
    font-size: 18px;
    z-index: 1;
    position: absolute;
}

.b_card_name
{
    font-size: 17px;
    padding-bottom: 10px;
}

.b_card_title
{
    padding-top: 10px;
    font-size: 17px;
    font-weight: 700;
}

.b_card_sub_title
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.title-item
{
    font-size: 35px;
    font-weight: 700;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.title-category
{
    font-weight: 700;
}

.category_price
{
    padding: 10px 0;
}

.card_big
{
    margin-top: 25px;
    height: 220px;
}

.skewed_category
{
    transform: skewX(-20deg);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #0095ff;
    min-width: 120px;
    text-align: center;
}

.skewed_category p 
{
    color: white;
    transform: skewX(20deg);
    font-size: 15px;
}

.main_info_tour 
{
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 0px 5px 5px;
    font-weight: 700;
    padding-left: 10px;
    font-size: 14px;
    color: #0c0f1b;
    -webkit-box-shadow: 3px 5px 10px 3px rgba(0,0,0,0.27);
    box-shadow: 0px 5px 12px 3px rgba(0, 0, 0, 0.1);
}