@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
.main-menu
{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ad-banner-header
{
    height: 200px;
    background: #82d218;
}

.menu-border {
    border-bottom: 1px solid #f5f5f5;
    box-shadow: 0 15px 13px 0 rgba(0, 0, 0, 0.05);
    background: white;
}

.main-menu li {
    position: relative;
    display: flex;
    align-items: center;
}

.main-menu i {
    font-size: 25px;
}

.main-menu a {
    color: #333;
    transition: .5s;
        text-transform: uppercase;
    line-height: 40px;
    letter-spacing: .125em;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.left-side-menu
{
    font-family: 'Roboto', sans-serif;    
}

.main-menu li:hover a
{
    color: #00529f;
    text-decoration: none;
}

.active a{
    color: #00529f;
    font-family: 'Roboto', sans-serif;
}


.main-menu li:after
{
    content: '';
    position: absolute;
    transition: .5s;
    bottom: -1px;
    width: 0%;
    background: #00529f;
    height: 2px;
    left: 0;
}

.main-menu li:hover::after {
    width: 100%;
}

.active:after
{
    content: '';
    position: absolute;
    transition: .5s;
    bottom: -1px;
    width: 100% !important;
    background: #00529f;
    height: 2px;
    left: 0;
}

.sub-menu-nav
{
    list-style: none;
    font-size: 14px;
    display: flex;
    margin: 0;
    padding: 0;
}

.sub-menu-nav li {
    padding: 10px;
    transition: .5s;
    position: relative;
}

.sub-menu-nav li:after
{
    content: '';
    position: absolute;
    transition: .5s;
    bottom: -1px;
    width: 0%;
    background: #00529f;
    height: 2px;
    left: 0;
}

.sub-menu-nav li:hover::after {
    width: 100%;
}

.sub-menu-nav li:hover a {
    color: #00529f;
}

.sub-menu-nav li:first-child {
    padding-left: 0px;
}

.sub-menu-nav a {
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.sub-menu-main
{
    background: #f9f9f9;
}

.sub-menu-item:after {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f107"; padding: 5px;
}

.sub-menu-active {
    color: #00529f !important;
    font-family: 'Roboto', sans-serif;
}

.sub-menu-active:before {
    content: '';
    position: absolute;
    transition: .5s;
    bottom: -1px;
    width: 100%;
    background: #00529f;
    height: 2px;
    left: 0;
}

.main-menu-fixed
{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99999;
}

.main-menu-hide
{
    position: fixed;
    top: -25%;
}

.main-menu-sticky
{
    transition: 1s;
}

.footer-nav
{
    background: #333;
    padding-top: 50px;
    color: white;
    padding-bottom: 25px;
}

.title-footer
{
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
}

.items-footer
{
    margin-top: 25px;
    line-height: 30px;
    font-size: 14px;
}

.items-footer div 
{
    transition: .5s;
    cursor: pointer;
}

.items-footer div:hover 
{
    color: #097cff;
}

.footer-blocks__items-item
{
    width: 320px;
    height: 320px;
    background: #0300a3;
    color:white;
    padding-top: 50px;
    padding-left: 25px;
}

.item-links
{
    font-size: 14px;
}

.footer-blocks__items
{
    display: flex;
    list-style: none;
    justify-content: space-evenly
}

.item-name
{
    font-size:17px;
    font-weight: 700;
}

.item-links
{
    margin-top: 10px;
    list-style: none;
}

.social-network 
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-network a {
    color:white;
    padding: 10px;
    padding-bottom: 0;
    font-size: 25px;
}

.about-footer-title
{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.drop-menu
{
    transition: .5s;
    width:20px;
    cursor: pointer;
}

.drop-menu-active {
    transform: rotate(180deg);
}

.about-footer-comapny
{
    margin-top: 20px;
}
.about-footer-company-links
{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.about-footer-company-links a {
    font-weight:700;
    font-size:14px;
}

.righs-reserver
{
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 700;
    color: #989898;
}

.left-side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.left-side-menu
{
    width: 20%;
    padding: 50px 15px 0px 15px;
    color:#333;
    transition: .5s;
    background: white;
    min-height: 100%;
    position: fixed;
    z-index: 9999;
    top: 0%;
    left: 0;    
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}


.left-menu-hide {
    left: -25%;
}

.close-cont 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-menu-main-link
{
    font-size: 16px;
    height: 55px;
    display: flex;
    color: #333;
    letter-spacing: .15rem;
    text-transform: uppercase;
    justify-content: space-between;
    border-bottom: 1px solid #ededed;
    align-items: center;
}

.left-menu-social
{
    border-bottom: 3px solid #333;
}

.left-menu-social li {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-menu-social a {
    color: #999;
    font-size: 20px;
    border: 1px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.left-menu-network
{
    margin-top: 10px;
    
    letter-spacing: .15em;
}

.left-menu-network a {
    line-height: 30px;
    font-size: 11px;
    font-weight: 700;
    transition: .5s;
    color: #999;
}

.left-menu-network a:hover { 
    color: #00529f;
    text-decoration: none;
}

.left-menu-social a:hover { 
    color: #00529f;
    text-decoration: none;
}

.left-menu-main-link a
{
    color: #333;
    transition: .5s;
}

.terms {
    padding-top: 20px;
    padding-bottom: .75em;
    line-height: 18px;
    color: #7f7f7f;
    font-size: 12px;
}


.left-menu-main-link i {font-size: 28px;}
.left-menu-main-link a:hover {text-decoration: none; color:#00529f}

.close-slide-menu {
    text-align: right;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.dropped-menu {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #00529f;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropped-menu
{
    padding-left: 15px !important;
}

.dropped-menu li 
{
    padding: 5px 0;
}

.dropped-menu a
{
    color: #333;
    transition: .5s;
    letter-spacing: .15rem;
}

.left-menu-main
{
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    margin-top: 20px !important;
}
.logo-left-menu-main
{
    width: 130px;
}
.dropped-menu a:hover {text-decoration: none; color:#00529f}

/* Media  */

@media only screen and (min-width: 1200px){
    .wrap {
      width: 1127px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media only screen and (max-width: 1199px) and (min-width: 992px){
    .wrap {
      width: 933px;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
  
  
  @media only screen and (max-width: 991px) and (min-width: 768px){
    .footer_block
    {
        width: 26%;
    }
  }
  
  @media only screen and (max-width: 767px){
    .footer_block
    {
        width: 100%;
    }
  }