@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
.main-menu
{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.ad-banner-header
{
    height: 200px;
    background: #82d218;
}

.menu-border {
    border-top: 2px solid #0460D9;
    border-bottom: 1px solid #7b7b7b;
    background: white;
}

.main-menu li {
    padding: 5px 0;
    position: relative;
}

.main-menu a {
    color: #292929;
    font-weight: 700;
    font-size: 14px;
    transition: .5s;
    font-family: 'Roboto', sans-serif;
}

.main-menu li:hover a
{
    color: #0460D9;
}

.active a{
    color: #0460D9;
    font-family: 'Roboto', sans-serif;
}


.main-menu li:after
{
    content: '';
    position: absolute;
    transition: .5s;
    bottom: -1px;
    width: 0%;
    background: #0460D9;
    height: 2px;
    left: 0;
}

.main-menu li:hover::after {
    width: 100%;
}

.active:after
{
    content: '';
    position: absolute;
    transition: .5s;
    bottom: -1px;
    width: 100% !important;
    background: #0460D9;
    height: 2px;
    left: 0;
}

.sub-menu-nav
{
    list-style: none;
    font-size: 12px;
    display: flex;
    margin: 0;
    padding: 0;
}

.sub-menu-nav li {
    padding: 10px;
    transition: .5s;
    position: relative;
}

.sub-menu-nav li:after
{
    content: '';
    position: absolute;
    transition: .5s;
    bottom: -1px;
    width: 0%;
    background: #0460D9;
    height: 2px;
    left: 0;
}

.sub-menu-nav li:hover::after {
    width: 100%;
}

.sub-menu-nav li:hover a {
    color: #0460D9;
}

.sub-menu-nav li:first-child {
    padding-left: 0px;
}

.sub-menu-nav a {
    color: #292929;
    font-family: 'Roboto', sans-serif;
}

.sub-menu-main
{
    background: #e0e0e0;
}

.sub-menu-item:after {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f107"; padding: 5px;
}

.sub-menu-active {
    color: #0460D9 !important;
    font-family: 'Roboto', sans-serif;
}

.sub-menu-active:before {
    content: '';
    position: absolute;
    transition: .5s;
    bottom: -1px;
    width: 100%;
    background: #0460D9;
    height: 2px;
    left: 0;
}

.main-menu-fixed
{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99999;
}

.main-menu-hide
{
    position: fixed;
    top: -25%;
}

.main-menu-sticky
{
    transition: 1s;
}

.footer-nav
{
    background: #292929;
    padding-top: 25px;
    color: white;
    padding-bottom: 25px;
}

.title-footer
{
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
}

.items-footer
{
    margin-top: 10px;
    font-size: 14px;
}

.footer-blocks__items-item
{
    width: 320px;
    height: 320px;
    background: #0300a3;
    color:white;
    padding-top: 50px;
    padding-left: 25px;
}

.item-links
{
    font-size: 14px;
}

.footer-blocks__items
{
    display: flex;
    list-style: none;
    justify-content: space-evenly
}

.item-name
{
    font-size:17px;
    font-weight: 700;
}

.item-links
{
    margin-top: 10px;
    list-style: none;
}

.social-network 
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-network a {
    color:white;
    padding: 10px;
    padding-bottom: 0;
    font-size: 25px;
}

.about-footer-title
{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.about-footer-comapny
{
    margin-top: 20px;
}
.about-footer-company-links
{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.about-footer-company-links a {
    font-weight:700;
    font-size:14px;
}

.righs-reserver
{
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 700;
    color: #989898;
}