@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap&subset=cyrillic');
body 
{
    font-family: 'Roboto', sans-serif;
}

a:hover {
    text-decoration: none;
}

.main-tous-slide {
    height: 500px;
    color: white;
    cursor: pointer;
    position: relative;
    padding-left: 60px;
    overflow: hidden;
}

.main-tous-slide:hover {color:  white !important;}

.main-tous-slide:after {
    position: absolute;
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.74) 100%);
    left: 0;
    width: 100%;
    bottom: 0;
    height: 200px;
}

.main-tous-slide:hover .image-tour-slide {

    transform: scale(1.2);
}

.tours-slider__title
{
    position: absolute;
    bottom: 50px;
    font-size: 25px;
    font-weight: 700;
    z-index: 999;
}

.tours-slider__sub {
    position: absolute;
    bottom: 25px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.658);
    z-index: 999;
}

section {
    padding-top: 100px !important;
    padding-bottom: 100px !important;       
}

.top-black-menu
{
    height: 40px;
    background: #050658;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.top-black-menu a:hover {
    color: #00529E;
}

.social-top 
{
  font-size: 17px;
}

.section-name
{
    overflow: hidden;
    color: black;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    position: relative;
}

.link-block {
    display:block;
}

.section-name:after {
    position: absolute;
    content: '';
    width: 120%;
    height: 6px;
    background: black;
    top: 50%;
    transform: translate(0%, -50%);
    margin-left: 10px;
}

.big-blocks {
    box-shadow: 0 2px 4px 0 rgba(26,26,26,0.2) !important;
    height: 375px;
    position: relative;
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    border: 1px solid transparent;
    transition: transform .1s;
    background: white;
}

.big-padding {
    padding-top: 90px;
}

.big-blocks:hover {
    border-color: black;
    transform: translate3d(0, -0.5rem, 0);
    transition: transform .1s;
}

.tourists-blocks {
    box-shadow: 0 2px 4px 0 rgba(26,26,26,0.2) !important;
    height: 105px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: transform .1s;
    background: white;
}

.toursists-img
{
    display: flex;
    align-items: center;
    height: 100%;
    float: left;
    padding-left: 10px;
}

.tourists-blocks:hover {
    border-color: black;
    transform: translate3d(0, -0.5rem, 0);
    transition: transform .1s;
}

.tourists-blocks img {
    width: 80px;
    height: 80px;
}
.block-content-tourists {
height: 100%;
padding-left: 20px;
}

.block-img
{
    background-position: center !important;
    background-size:cover !important;
    width: 95%;
    position: absolute;
    top: -5%;
    height: 190px;
}

.block-mini-img {
    background-position: center !important;
    background-size:cover !important;
    width: 100%;
    height: 130px;
}

.block-content {
    margin-top: 100px;
}

.block-title
{
    font-size: 20px;
    color: black;
    font-weight: 700;
}

.block-title-tourists {
    color: black;
    font-weight: 700;
    font-size: 18px;
    margin-left: 90px;
    text-align: left;
    margin-top: 10px;
}

.block-category-tourists {
    padding-top: 19px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: #00529e;
    margin-left: 90px;
}

section {
    background: white;
}

.second-sec {
    background: #f8f8f8 !important;
}

.block-desc {
    padding-top: 10px;
    color: #414141;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

.show__more
{
    border: 1px solid #00529E;
    padding: 10px 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    color: #00529f !important;
    background: white;
    font-size: 16px;
    transition: .2s;
}

.show__more:hover {
    background: #00529f;
    color: white !important;
}

.show__more-block
{
    position: absolute;
    bottom: -3%;
    left: 50%;
    transform: translate(-50%);
}

.show__more:hover {
    text-decoration: none !important;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.15) !important;
}

.small-blocks
{
    display: block;
}

/* New page */

.nav__menu
{
    list-style: none;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav__menu a {
    color: #00529f;
    font-weight: 700;
    transition: .5s;
}

.nav__menu a:hover {
    color: #294fff;
    text-decoration: none;
}

.nav__title
{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.nav__menu li {
    padding: 0 10px;
    font-size: 16px;
}

.content-block__img
{
    height: 220px;
    border-radius: 3px;
    background-image: linear-gradient(45deg, #d585ff, #0fe);
    background-size: cover !important;
    background-position: center !important;
    transition: .5s;
    position: relative;
}

.content-block__img:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    transition: .5s;
    opacity: 1;
    background: #00529f9e;
}

.content-block__img:hover::after {
    opacity: 0;
}

.content-block__img:hover{    
    z-index: 19;
    transform: scale(1.01);
    box-shadow:0px 15px 25px -7px rgba(56, 56, 56, 0.2);
}

.content-block__img:hover ~ .content-block__title a {
    color: #00529f !important;
}

.content-block__title a {
    transition: .5s;
}

.hov-effect-block:hover ~ .content-block__title a {
    color: #00529f !important;
}

.content-block__title:hover{
    color: #00529f;
}

.content-block__img img {
    width: 100%;
    height: 100%;
}

.content-block__category
{
    padding-top:10px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .125em;
    color: #fdb913;
    font-size: 14px;
    transition: .5s;
}

.content-block__category:hover {
    color: #f79400;
}

.content-block__title
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 80px;
    color: black;
    transition: .5s;
}

.content-block__title a {
    color: black;
}

.content-block__title-link {
    transition: .5s;
    color: black;
}

.content-block__title a:hover{
    color: #00529f !important;
}

.main-content-block
{
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 3px solid #00529f;
}

.main-content-block:nth-child(1) {
    background: #f9f9f9;
    margin-top: 50px;
}

.main-content-block:nth-child(5) {
    background: #f9f9f9;
}

.main-events
{
    background: #00529f;
}

.all-content div:nth-child(4) {
    padding-bottom: 50px;
}




.content-block_main article
{
    margin-top: 35px;
}

.block_main__item-content {
    cursor: pointer;
    border-radius: 2px;
    padding: 0;
}   


.button-show-more
{
    text-transform: uppercase;
    text-align: center;
    width: 300px    ;
    padding: 10px;
    font-weight: 700;
    border: 1px solid gray;
    border-radius: 55px;
    margin: auto;
    margin-top: 50px;
    font-size: 13px;
    transition: .5s;
}

.show-more-link {
    color: black;
    text-decoration: none;
}

.show-more-link:hover { text-decoration: none; }

.button-show-more:hover {
    background: rgb(36, 36, 36);
    color: white;
}

.tour-item-slide
{
    height: 500px;    background-size: cover;
    color: white;
    background-image:url(https://lonelyplanetstatic.imgix.net/copilot/images/Um9hZHRyaXBzLmpwZ01vbiBOb3YgMDUgMjAxOCAxMTozMjowNyBHTVQrMDAwMCAoVVRDKQ%3D%3D.jpg?q=40&w=2000&h=1125&fit=crop&fm=pjpg?q=60&sharp=10&fit=crop&w=322&h=520);
    text-align: center;
    padding-top: 50px;
    transition: .5s;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    font-weight: 600;
}

.tour-item-slide::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #131313b2;
    top: 0;
    left: 0;
    z-index: 1;
}

.item-slide__title
{
    position: relative;
    z-index: 2;
}

.item-slide__title a {
    color: white;
    transition: .5s;
}

.item-slide__title a:hover {
    color: rgb(0, 255, 234);
}

.item-slide__tours
{
    position: relative;
    z-index: 2;
}

.tour-item-slide:nth-child(2) {
    background-image:url(https://lonelyplanetstatic.imgix.net/copilot/images/ZmFtaWx5LXRyYXZlbC5qcGdNb24gTm92IDA1IDIwMTggMTI6MTM6NDYgR01UKzAwMDAgKFVUQyk%3D.jpg?q=40&w=2000&h=1125&fit=crop&fm=pjpg?q=60&sharp=10&fit=crop&w=322&h=520);
}

.tour-item-slide:nth-child(3) {
    background-image:url(https://lonelyplanetstatic.imgix.net/copilot/images/QmFja3BhY2tpbmcuanBnTW9uIE5vdiAwNSAyMDE4IDExOjMwOjQ4IEdNVCswMDAwIChVVEMp.jpg?q=40&w=2000&h=1125&fit=crop&fm=pjpg?q=60&sharp=10&fit=crop&w=322&h=520);
}

.tour-item-slide:nth-child(4) {
    background-image:url(https://lonelyplanetstatic.imgix.net/copilot/images/R2Vhci1hbmQtdGVjaC5qcGdNb24gTm92IDA1IDIwMTggMTE6MzI6MTkgR01UKzAwMDAgKFVUQyk%3D.jpg?q=40&w=2000&h=1125&fit=crop&fm=pjpg?q=60&sharp=10&fit=crop&w=322&h=520);
}

.item-slide__tours
{
    list-style: none;
    font-size: 16px;
    padding: 0;
    margin-top: 20px;
    font-size: 13px;
}

.item-slide__tours a 
{
    color: white;
}

.item-slide__tours li
{
    color: white;
    padding: 10px 0px;
}

.item-slide__tours a:hover { text-decoration: none; }

.tour-item-slide:hover
{
    z-index: 19;
    transform: scale(1.01);
    box-shadow: 0px 28px 81px -7px rgba(0,0,0, 0.44);
}

.tours
{
    margin-top: 50px;
}

.category-link
{
    color: #00529f;
    transition: .5s;
}

.category-link:hover 
{
    text-decoration: none;
    color: #2d9aff;
}

.content-block__title:hover a {
    text-decoration: none;
    color: #0300a3;
}

.ad-block
{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title-tours {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}

.articles-header
{
    width: 90%;
    margin: auto;
    padding: 50px 0px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.span-col-2{
    grid-column: span 2 / auto; 
    background-size: cover;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    display: flex;
    background: #0300a3;
    align-items: flex-end;
    position: relative;
}

.main-news {
    transition: .5s;
}

.main-news:hover {
    z-index: 19;
    transform: scale(1.01);
    box-shadow: 0px 28px 81px -7px rgba(0,0,0, 0.44);
}

.span-row-2{
    grid-row: span 2 / auto;
    height:500px; 
    background-size: cover;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    display: flex;    align-items: flex-end;
    background: #0300a3;
    position: relative;
}

.main-news:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    transition: .5s;
    opacity: 1;
    background: rgba(0, 0, 0, 0.418);
    left: 0;
    top: 0;
}

.main-news:hover::after {
    opacity: 0;
}

.gallery-item-prev
{
    height: calc(100vh - 192px);
    margin-top: 50px;
}

.gallery-item-prev a {
    width: 100%;
    height: 100%;
}

.img-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    position: relative;
}

.img-fluid:after {
    content: '';
    width: 100%;
    opacity: 1;
    transition: .5s;
    height: 100%;
    position: absolute;
    background: #00529fba;
}

.img-fluid:hover {
    z-index: 19;
    transform: scale(1.01);
    box-shadow: 0px 28px 81px -7px rgba(0,0,0, 0.44);
}

.img-fluid:hover::after {
    opacity: 0;
}

.img-fluid a {
    color: white;
}

.main-news span{
    z-index: 99;
}

  
  @media only screen and (max-width: 1199px) and (min-width: 992px){
    .wrap {
      width: 933px;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
  
  
  @media only screen and (max-width: 1150px) and (min-width: 768px){
    .span-col-2{grid-column: span 4 / auto; background: red; height:225px;}

    .span-row-2{grid-column: span 2 / auto; background: blue; height:320px;}
    .ad-block
    {
        display: none;
    }

    .content-block__img
    {
        height: 260px;
    }

  }
  
  @media only screen and (max-width: 767px){
    .ad-block
    {
        display: none;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }

    .nav__menu
    {
        justify-content: space-between;
        padding: 0;
    }    

   .dektop-item
    {
        display: none !important;
    }

    .main-menu
    {
        justify-content: center;
    }


    .left-menu-hide {
        left:-100%;
    }

    .left-side-menu {
        width: 100%;
    }
    
    .content-block__img
    {
        height: 260px;
    }

    .span-col-2{grid-column: span 4 / auto; background: red; height:250px;}

    .span-row-2{grid-column: span 4 / auto; background: blue; height:250px;}
  }