@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap&subset=cyrillic');
body 
{
    font-family: 'Roboto', sans-serif;
}

.nav__menu
{
    list-style: none;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav__menu a {
    color: #00529f;
    font-weight: 700;
    transition: .5s;
}

.nav__menu a:hover {
    color: #294fff;
    text-decoration: none;
}

.nav__title
{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.nav__menu li {
    padding: 0 10px;
    font-size: 16px;
}

.content-block__img
{
    height: 220px;
    border-radius: 3px;
    background-image: linear-gradient(45deg, #d585ff, #0fe);
    background-size: cover !important;
    background-position: center !important;
    transition: .5s;
}

.content-block__img:hover{    
    z-index: 19;
    transform: scale(1.01);
    box-shadow:0px 15px 25px -7px rgba(56, 56, 56, 0.2);
}

.content-block__img:hover ~ .content-block__title a {
    color: #00529f !important;
}

.content-block__title:hover{
    color: #00529f;
}

.content-block__img img {
    width: 100%;
    height: 100%;
}

.content-block__category
{
    padding-top:10px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .125em;
    color: #fdb913;
    font-size: 14px;
    transition: .5s;
}

.content-block__category:hover {
    color: #f79400;
}

.content-block__title
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 80px;
    color: #333;
    transition: .5s;
}

.content-block__title-link {
    transition: .5s;
    color: #333;
}

.content-block__title a:hover{
    color: #00529f !important;
}

.main-content-block
{
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 3px solid #0300a3;
    border-bottom: 3px solid #0300a3;
}

.main-content-block:nth-child(2) {
    border-top: none;
}

.main-content-block:nth-child(3) {
    border-top: none;
    margin-top: 0;
}

.main-content-block:nth-child(4) {
    border-top: none;
    margin-top: 0;
}

.content-block_main article
{
    margin-top: 35px;
}

.block_main__item-content {
    background: white;
    cursor: pointer;
    border-radius: 2px;
    padding: 0;
}   


.button-show-more
{
    text-transform: uppercase;
    text-align: center;
    width: 300px    ;
    padding: 10px;
    font-weight: 700;
    border: 1px solid gray;
    border-radius: 55px;
    margin: auto;
    margin-top: 50px;
    font-size: 13px;
    transition: .5s;
}

.show-more-link {
    color: black;
    text-decoration: none;
}

.show-more-link:hover { text-decoration: none; }

.button-show-more:hover {
    background: rgb(36, 36, 36);
    color: white;
}

.tour-item-slide
{
    height: 500px;    background-size: cover;
    color: white;
    background-image:url(https://lonelyplanetstatic.imgix.net/copilot/images/Um9hZHRyaXBzLmpwZ01vbiBOb3YgMDUgMjAxOCAxMTozMjowNyBHTVQrMDAwMCAoVVRDKQ%3D%3D.jpg?q=40&w=2000&h=1125&fit=crop&fm=pjpg?q=60&sharp=10&fit=crop&w=322&h=520);
    text-align: center;
    padding-top: 50px;
    transition: .5s;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    font-weight: 600;
}

.tour-item-slide::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #131313b2;
    top: 0;
    left: 0;
    z-index: 1;
}

.item-slide__title
{
    position: relative;
    z-index: 2;
}

.item-slide__title a {
    color: white;
    transition: .5s;
}

.item-slide__title a:hover {
    color: rgb(0, 255, 234);
}

.item-slide__tours
{
    position: relative;
    z-index: 2;
}

.tour-item-slide:nth-child(2) {
    background-image:url(https://lonelyplanetstatic.imgix.net/copilot/images/ZmFtaWx5LXRyYXZlbC5qcGdNb24gTm92IDA1IDIwMTggMTI6MTM6NDYgR01UKzAwMDAgKFVUQyk%3D.jpg?q=40&w=2000&h=1125&fit=crop&fm=pjpg?q=60&sharp=10&fit=crop&w=322&h=520);
}

.tour-item-slide:nth-child(3) {
    background-image:url(https://lonelyplanetstatic.imgix.net/copilot/images/QmFja3BhY2tpbmcuanBnTW9uIE5vdiAwNSAyMDE4IDExOjMwOjQ4IEdNVCswMDAwIChVVEMp.jpg?q=40&w=2000&h=1125&fit=crop&fm=pjpg?q=60&sharp=10&fit=crop&w=322&h=520);
}

.tour-item-slide:nth-child(4) {
    background-image:url(https://lonelyplanetstatic.imgix.net/copilot/images/R2Vhci1hbmQtdGVjaC5qcGdNb24gTm92IDA1IDIwMTggMTE6MzI6MTkgR01UKzAwMDAgKFVUQyk%3D.jpg?q=40&w=2000&h=1125&fit=crop&fm=pjpg?q=60&sharp=10&fit=crop&w=322&h=520);
}

.item-slide__tours
{
    list-style: none;
    font-size: 16px;
    padding: 0;
    margin-top: 20px;
    font-size: 13px;
}

.item-slide__tours a 
{
    color: white;
}

.item-slide__tours li
{
    color: white;
    padding: 10px 0px;
}

.item-slide__tours a:hover { text-decoration: none; }

.tour-item-slide:hover
{
    z-index: 19;
    transform: scale(1.01);
    box-shadow: 0px 28px 81px -7px rgba(0,0,0, 0.44);
}

.tours
{
    margin-top: 50px;
}

.category-link
{
    color: #fdb913;
    transition: .5s;
}

.category-link:hover 
{
    text-decoration: none;
    color: #fd7113;
}

.content-block__title:hover a {
    text-decoration: none;
    color: #0300a3;
}

.ad-block
{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title-tours {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}

.articles-header
{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.span-col-2{
    grid-column: span 2 / auto; 
    background-size: cover;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    display: flex;
    background: #0300a3;
    align-items: flex-end;
}

.main-news {
    transition: .5s;
}

.main-news:hover {
    z-index: 19;
    transform: scale(1.01);
    box-shadow: 0px 28px 81px -7px rgba(0,0,0, 0.44);
}

.span-row-2{
    grid-row: span 2 / auto;
    height:500px; 
    background-size: cover;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    display: flex;    align-items: flex-end;
    background: #0300a3;
}

  
  @media only screen and (max-width: 1199px) and (min-width: 992px){
    .wrap {
      width: 933px;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
  
  
  @media only screen and (max-width: 1150px) and (min-width: 768px){
    .span-col-2{grid-column: span 4 / auto; background: red; height:225px;}

    .span-row-2{grid-column: span 2 / auto; background: blue; height:320px;}
    .ad-block
    {
        display: none;
    }

    .content-block__img
    {
        height: 260px;
    }

  }
  
  @media only screen and (max-width: 767px){
    .ad-block
    {
        display: none;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }

    .nav__menu
    {
        justify-content: space-between;
        padding: 0;
    }    

   .dektop-item
    {
        display: none !important;
    }

    .main-menu
    {
        justify-content: center;
    }


    .left-menu-hide {
        left:-100%;
    }

    .left-side-menu {
        width: 100%;
    }
    
    .content-block__img
    {
        height: 260px;
    }

    .span-col-2{grid-column: span 4 / auto; background: red; height:250px;}

    .span-row-2{grid-column: span 4 / auto; background: blue; height:250px;}
  }